<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand brand-title" href="#">
        <img src={{ url_for('static', filename = 'images/dog-house.png') }} width="30" height="30" class="d-inline-block align-top" alt="">
        PetStash Supply Co.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-text-small" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/inventory">Inventory Management</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="productDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Item Maintenance
                </a>
                <div class="dropdown-menu navbar-text-small" aria-labelledby="productDropdown">
                    <a class="dropdown-item" href="/product-add">Add Product</a>
                    <a class="dropdown-item" href="/products">Edit Product</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/categories">Edit Category</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="reportDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Reports
                </a>
                <div class="dropdown-menu navbar-text-small" aria-labelledby="reportDropdown">
                    <a class="dropdown-item" href="#">Product Sales</a>
                    <a class="dropdown-item" href="#">Transaction History</a>
                    <a class="dropdown-item" href="#">Receiving Log</a>
                    <a class="dropdown-item" href="#">Back Office Activity Log</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto justify-content-end">
            {% if session.admin_logged_in %}
            <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>